# ====================== Database Configuration ======================
# Database host, e.g., localhost or 127.0.0.1
DB_HOST=your_db_host
# Database port, default is 3306
DB_PORT=3306
# Database username
DB_USER=your_db_user
# Database password
DB_PASSWORD=your_db_password
# Database name
DB_NAME=your_db_name
# Database charset, recommend utf8mb4, compatible with emoji
DB_CHARSET=utf8mb4
# Database type mysql or postgresql
DB_DIALECT=postgresql

# ======================= LLM Related =======================
# Insight Agent (Recommend Kimi, https://platform.moonshot.cn/) API Key, used for main LLM
INSIGHT_ENGINE_API_KEY=
# Insight Agent LLM Interface BaseUrl, can customize vendor API
INSIGHT_ENGINE_BASE_URL=
# Insight Agent LLM Model Name, e.g., kimi-k2-0711-preview
INSIGHT_ENGINE_MODEL_NAME=
# Media Agent (Recommend Gemini, can use relay vendor https://www.chataiapi.com/) API Key
MEDIA_ENGINE_API_KEY=
# Media Agent LLM Interface BaseUrl
MEDIA_ENGINE_BASE_URL=
# Media Agent LLM Model Name, e.g., gemini-2.5-pro
MEDIA_ENGINE_MODEL_NAME=

# Media Agent API Key (Recommend Deepseek)
MINDSPIDER_API_KEY=
# MindSpider LLM Interface BaseUrl
MINDSPIDER_BASE_URL=
# MindSpider LLM Model Name, e.g., deepseek-chat
MINDSPIDER_MODEL_NAME=

# Query Agent (Recommend DeepSeek, https://www.deepseek.com/) API Key
QUERY_ENGINE_API_KEY=
# Query Agent LLM Interface BaseUrl
QUERY_ENGINE_BASE_URL=
# Query Agent LLM Model, e.g., deepseek-reasoner
QUERY_ENGINE_MODEL_NAME=
# Report Agent (Recommend Gemini, can use relay vendor https://www.chataiapi.com/) API Key
REPORT_ENGINE_API_KEY=
# Report Agent LLM Interface BaseUrl
REPORT_ENGINE_BASE_URL=
# Report Agent LLM Model, e.g., gemini-2.5-pro
REPORT_ENGINE_MODEL_NAME=
# Forum Host LLM API Key, Qwen3 latest model, recommend https://cloud.siliconflow.cn/
FORUM_HOST_API_KEY=
# Forum Host LLM BaseUrl
FORUM_HOST_BASE_URL=
# Forum Host LLM Model Name, e.g., Qwen/Qwen3-235B-A22B-Instruct-2507
FORUM_HOST_MODEL_NAME=
# SQL Keyword Optimizer LLM Key, small parameter Qwen3 model https://cloud.siliconflow.cn/
KEYWORD_OPTIMIZER_API_KEY=
# Keyword Optimizer BaseUrl
KEYWORD_OPTIMIZER_BASE_URL=
# Keyword Optimizer LLM Model Name, e.g., deepseek-chat
KEYWORD_OPTIMIZER_MODEL_NAME=

# ================== Network Tools Configuration ====================
# Tavily API Key, for Tavily web search. Register: https://www.tavily.com/
TAVILY_API_KEY=
# Bocha Web/AI Search BASEURL, for Bocha search. Register: https://open.bochaai.com/
BOCHA_BASE_URL=
# Bocha Web Search API Key, for Bocha search. Register: https://open.bochaai.com/
BOCHA_WEB_SEARCH_API_KEY=